
<!DOCTYPE html>
<html lang="pl-PL">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }} | Obiady domowe | Bar Imer</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css" />
<link rel="canonical" href="http://obiady-domowe.com/" />
<link rel='shortlink' href='http://obiady-domowe.com/' />
</head>

<body class="home page-template-default page page-id-20">

		<div id="page_container">
			<header id="page_header">
				<h1>Obiady domowe</h1>
				<p>Zamów przez telefon! <strong>519 18 4567</strong></p>
			</header>
			<div id="main_container">
				<nav>
					<div class="menu-header"><ul id="menu-menu-1" class="menu">
<li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-194"><a href="/">Menu</a></li>
<li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="/cennik/">Cennik</a></li>
<li id="menu-item-196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="/jak-nas-znalezc/">Jak nas znaleźć</a></li>
<li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="/nasze-przedszkolaki/">Nasze przedszkolaki</a></li>
<li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="/obiady-dla-firm/">Obiady dla firm</a></li>
<li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200"><a href="/sandwich/">Sandwich</a></li>
<li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a href="/salatki/">Sałatki</a></li>
</ul></div>				</nav>
				

		<div id="content_container">
			
						
						
			{{ content }}
			
			
		</div><!--content_container-->




			</div><!--main_container-->
			<footer id="page_footer">
				<p>&copy;2017 Imer Zbigniew Karwacki</p>
			</footer>
		</div><!--page_container-->
	
</body>
</html>
